<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>Flask Blog - {{ title }}</title>
    {% else %}
    <title>Flask Blog</title>
    {% endif %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge"><meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='main/css/zero.css')}}">
</head>
<body>
    <header><div class="container">
        <h3 class="navbar-brand mr-4">Flask Blog</h3>
        <a class="navbar-brand mr-4" id="home" href="{{ url_for('main.home') }}">Home</a>
<!--        <a class="navbar-brand mr-4" id="about" href="{{ url_for('main.about') }}">About</a>-->
        {% if current_user.is_authenticated %}
            <a class="navbar-brand mr-4" id="logout" href="{{ url_for('users.logout') }}">Log out</a>
            <a class="navbar-brand mr-4" id="account" href="{{ url_for('users.userview', user_id=current_user.id) }}">{{ current_user.username }}</a>
            <a class="navbar-brand mr-4" id="newpost" href="{{ url_for('posts.new_post') }}">New Post</a>
        {% else %}
            <a class="navbar-brand mr-4" id="login" href="{{ url_for('users.login') }}">Login</a>
            <a class="navbar-brand mr-4" id="reg" href="{{ url_for('users.register') }}">Register</a>
        {% endif %}

        </div>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
        {% block bud %}
        {% endblock bud %}
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>